In [11]:
import pandas as pd

In [22]:
# Create empty dataframe with LUMO's names
channels = pd.DataFrame(columns=['idx',                 # channel index
                                 'src_node_id',         # which tile is the source on
                                 'src_idx',             # source index
                                 'src_optode_name',     # source name (A, B, C)
                                 'src_coords_3d',       # source coordinates (i omit 2D)
                                 'src_wl',              # wavelength
                                 'det_node_id',         # which tile is the detector on
                                 'det_idx',             # detector index
                                 'det_optode_name',     # detector name (same as det_idx)
                                 'det_coords_3d'],      # detector coordinates (i omit 2D)
                                 index=range(3456))

length = len(channels)

In [23]:
# idx is the channel number (1-3456)
channels['idx'] = channels.index + 1
channels

,idx,src_node_id,src_idx,src_optode_name,src_coords_3d,src_wl,det_node_id,det_idx,det_optode_name,det_coords_3d
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3451,3452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3452,3453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3453,3454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3454,3455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3455,3456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Wavelegth should alternate between 735 an 850 in chunks of 144
channels['src_wl'] = ['735' if (i // 144) % 2 == 0 else '850' for i in range(length)]
channels

,idx,src_node_id,src_idx,src_optode_name,src_coords_3d,src_wl,det_node_id,det_idx,det_optode_name,det_coords_3d
0,1,NaN,NaN,NaN,NaN,735,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,735,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,735,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,735,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,735,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3451,3452,NaN,NaN,NaN,NaN,850,NaN,NaN,NaN,NaN
3452,3453,NaN,NaN,NaN,NaN,850,NaN,NaN,NaN,NaN
3453,3454,NaN,NaN,NaN,NaN,850,NaN,NaN,NaN,NaN
3454,3455,NaN,NaN,NaN,NaN,850,NaN,NaN,NaN,NaN
3455,3456,NaN,NaN,NaN,NaN,850,NaN,NaN,NaN,NaN

In [26]:
# Source index moves up one every 48 channels
channels['src_idx'] = [(i // 48) + 1 for i in range(length)]

In [18]:
# Source optode names

In [19]:
# Test
channels[channels['idx'] == 193][['idx', 'src_wl', 'src_optode_name']]

     idx src_wl src_optode_name
192  193    850               A